@import "tailwindcss";


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Ini penting! */
}
body {
  font-family: 'inter';

}